<ion-view view-title="Login">
	<div class="bar bar-header bar-assertive">
		<h1 class="title">Login</h1>
	</div>
	<ion-nav-bar class="bar bar-header bar-assertive">

	</ion-nav-bar>
</div>
<ion-content>
	<div class="list">
		<label class="item item-input">
			<input type="text" placeholder="email">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="senha">
		</label>
		<button class="button button-block button-positive">
			Login
		</button>
		<div class="row">
			<div class="col">
				<a href="#/cadastro">
					<button class="button button-balanced" >
						Novo cadastro
					</button>
				</a>
			</div>
			<div class="col">
				<button class="button button-dark">
					Esqueci a senha
				</button>
			</div>
		</div>
	</div>
</ion-content>
</ion-view>
